.scrolUp{
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    border: none;
}
.scrolUp:hover{
    background-color: var(--primary-hover);
}